In [11]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import time
nltk.downloader.download('vader_lexicon')

sent_analyzer = SentimentIntensityAnalyzer()

rev1 = "The hotel was very good, I love it!"
rev2 = "It was just horrible, the worst ever."

print(f"review 1:\n{rev1}\nScore: {sent_analyzer.polarity_scores(rev1)}")

print(f"\nreview 2:\n{rev2}\nScore: {sent_analyzer.polarity_scores(rev2)}")

review 1:
The hotel was very good, I love it!
Score: {'neg': 0.0, 'neu': 0.386, 'pos': 0.614, 'compound': 0.8386}

review 2:
It was just horrible, the worst ever.
Score: {'neg': 0.603, 'neu': 0.397, 'pos': 0.0, 'compound': -0.8225}

[nltk_data] Downloading package vader_lexicon to C:\Users\Simonenko
[nltk_data]     S\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [12]:
import pandas as pd
hotels = pd.read_csv('data/hotels.csv')
hotels.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097

In [25]:
review = hotels[['negative_review','positive_review']]
review['negative_review'].replace('No Negative','Nothing',inplace=True)
review['positive_review'].replace('No Positive','Nothing',inplace=True)
#review = review.replace(['No Negative', 'Nice'],['No Positive', 'Bad'])
review.head(30)

C:\Users\Simonenko S\AppData\Local\Temp\ipykernel_1568\3257458799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['negative_review'].replace('No Negative','Nothing',inplace=True)
C:\Users\Simonenko S\AppData\Local\Temp\ipykernel_1568\3257458799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['positive_review'].replace('No Positive','Nothing',inplace=True)

,negative_review,positive_review
0,Leaving,Staff were amazing
1,poor breakfast,location
2,No kettle in room,Nothing
3,Nothing,Friendly staff quiet comfortable room spotles...
4,Torn sheets,The staff was very friendly and helpful Break...
5,Nothing,Very nice hotel Price is excellent when compa...
6,Nothing it was lovely,Very central location 2 minutes walk from Glo...
7,The communal areas are a bit soul less and th...,The location is good for transport links espe...
8,undergoing refurbishment no tea coffer in roo...,staff very good location wonderful
9,I advised it was for my husbands birthday and...,Nothing
10,They have lost their license and cannot sell ...,Rooms were really nice With great bathroom sh...
11,feel there isnt much to be improved upon with...,the rooms were spacious and very comfy very c...
12,Nothing,Great location beautiful design very friendly...
13,N A,Healthy breakfast friendly staff nice room va...
14,Nothing,Nice hotel very good location
15,Nothing,Very comfortable hotel close to metro located...
16,Nothing hotel refurb great,Room very good
17,Nothing,Brilliant location just 100 yds or so off Ken...
18,I got a room in Basment 1 room 09 in same tim...,it was good location but not close to main st...
19,The Gym was badly equipped I think the space ...,The Hotel was well located It had a swimming ...
20,Asked for a room over the Thames but got the ...,Very contemporary situated on Thames for love...
21,Room wasn t exactly quiet when a large group ...,Was in Room 351 and it was very large being o...
22,No microwave and the size of bed is too small...,Location
23,The view even thaught specially asked for a G...,Nothing
24,we did not like the charge for a Continental ...,we loved the location and the staff was great
25,bar,Spacious room and bathroom very comfortable bed
26,Nothing,Amazinging
27,Only one to two staff to operate the front de...,Very nice hotel Clean and Morden There is a c...
28,The room was outdated and not that clean espe...,The location was great and the staff was extr...
29,No restaurant on the premises or even a small...,A comfortable room for single occupancy and a...

In [14]:
def extract_value(x):
    out = sent_analyzer.polarity_scores(x)
    return out['neg'],out['neu'],out['pos']

In [29]:
review['negative_review_set'] = review['negative_review'].apply(lambda x: extract_value(x)[0])
review['positive_review_set'] = review['positive_review'].apply(lambda x: extract_value(x)[2])

C:\Users\Simonenko S\AppData\Local\Temp\ipykernel_1568\2438715406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['negative_review_set'] = review['negative_review'].apply(lambda x: extract_value(x)[0])
C:\Users\Simonenko S\AppData\Local\Temp\ipykernel_1568\2438715406.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['positive_review_set'] = review['positive_review'].apply(lambda x: extract_value(x)[2])

In [31]:
review.head(15)

,negative_review,positive_review,negative_review_set,positive_review_set
0,Leaving,Staff were amazing,0.000,0.655
1,poor breakfast,location,0.756,0.000
2,No kettle in room,Nothing,0.423,0.000
3,Nothing,Friendly staff quiet comfortable room spotles...,0.000,0.721
4,Torn sheets,The staff was very friendly and helpful Break...,0.667,0.382
5,Nothing,Very nice hotel Price is excellent when compa...,0.000,0.475
6,Nothing it was lovely,Very central location 2 minutes walk from Glo...,0.506,0.000
7,The communal areas are a bit soul less and th...,The location is good for transport links espe...,0.072,0.320
8,undergoing refurbishment no tea coffer in roo...,staff very good location wonderful,0.202,0.705
9,I advised it was for my husbands birthday and...,Nothing,0.055,0.000
10,They have lost their license and cannot sell ...,Rooms were really nice With great bathroom sh...,0.161,0.516
11,feel there isnt much to be improved upon with...,the rooms were spacious and very comfy very c...,0.000,0.266
12,Nothing,Great location beautiful design very friendly...,0.000,0.766
13,N A,Healthy breakfast friendly staff nice room va...,0.000,0.649
14,Nothing,Nice hotel very good location,0.000,0.666

In [24]:
review.head(30)

,negative_review,positive_review,negative_review_set,positive_review_set
0,Leaving,Staff were amazing,"(0.0, 1.0, 0.0)","(0.0, 0.345, 0.655)"
1,poor breakfast,location,"(0.756, 0.244, 0.0)","(0.0, 1.0, 0.0)"
2,No kettle in room,Bad,"(0.423, 0.577, 0.0)","(1.0, 0.0, 0.0)"
3,Nice,Friendly staff quiet comfortable room spotles...,"(0.0, 0.0, 1.0)","(0.0, 0.279, 0.721)"
4,Torn sheets,The staff was very friendly and helpful Break...,"(0.667, 0.333, 0.0)","(0.0, 0.618, 0.382)"
5,Nothing,Very nice hotel Price is excellent when compa...,"(0.0, 1.0, 0.0)","(0.0, 0.525, 0.475)"
6,Nothing it was lovely,Very central location 2 minutes walk from Glo...,"(0.506, 0.494, 0.0)","(0.0, 1.0, 0.0)"
7,The communal areas are a bit soul less and th...,The location is good for transport links espe...,"(0.072, 0.874, 0.054)","(0.036, 0.644, 0.32)"
8,undergoing refurbishment no tea coffer in roo...,staff very good location wonderful,"(0.202, 0.798, 0.0)","(0.0, 0.295, 0.705)"
9,I advised it was for my husbands birthday and...,Bad,"(0.055, 0.945, 0.0)","(1.0, 0.0, 0.0)"
10,They have lost their license and cannot sell ...,Rooms were really nice With great bathroom sh...,"(0.161, 0.839, 0.0)","(0.0, 0.484, 0.516)"
11,feel there isnt much to be improved upon with...,the rooms were spacious and very comfy very c...,"(0.0, 0.638, 0.362)","(0.0, 0.734, 0.266)"
12,Nice,Great location beautiful design very friendly...,"(0.0, 0.0, 1.0)","(0.0, 0.234, 0.766)"
13,N A,Healthy breakfast friendly staff nice room va...,"(0.0, 0.0, 0.0)","(0.0, 0.351, 0.649)"
14,Nice,Nice hotel very good location,"(0.0, 0.0, 1.0)","(0.0, 0.334, 0.666)"
15,Nice,Very comfortable hotel close to metro located...,"(0.0, 0.0, 1.0)","(0.0, 0.715, 0.285)"
16,Nothing hotel refurb great,Room very good,"(0.523, 0.477, 0.0)","(0.0, 0.385, 0.615)"
17,Nothing,Brilliant location just 100 yds or so off Ken...,"(0.0, 1.0, 0.0)","(0.0, 0.743, 0.257)"
18,I got a room in Basment 1 room 09 in same tim...,it was good location but not close to main st...,"(0.042, 0.958, 0.0)","(0.0, 0.793, 0.207)"
19,The Gym was badly equipped I think the space ...,The Hotel was well located It had a swimming ...,"(0.182, 0.719, 0.099)","(0.0, 0.687, 0.313)"
20,Asked for a room over the Thames but got the ...,Very contemporary situated on Thames for love...,"(0.056, 0.829, 0.115)","(0.0, 0.725, 0.275)"
21,Room wasn t exactly quiet when a large group ...,Was in Room 351 and it was very large being o...,"(0.0, 0.847, 0.153)","(0.0, 1.0, 0.0)"
22,No microwave and the size of bed is too small...,Location,"(0.216, 0.784, 0.0)","(0.0, 1.0, 0.0)"
23,The view even thaught specially asked for a G...,Bad,"(0.0, 0.734, 0.266)","(1.0, 0.0, 0.0)"
24,we did not like the charge for a Continental ...,we loved the location and the staff was great,"(0.091, 0.909, 0.0)","(0.0, 0.467, 0.533)"
25,bar,Spacious room and bathroom very comfortable bed,"(0.0, 1.0, 0.0)","(0.0, 0.625, 0.375)"
26,Nice,Amazinging,"(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0)"
27,Only one to two staff to operate the front de...,Very nice hotel Clean and Morden There is a c...,"(0.0, 1.0, 0.0)","(0.0, 0.781, 0.219)"
28,The room was outdated and not that clean espe...,The location was great and the staff was extr...,"(0.037, 0.918, 0.045)","(0.0, 0.513, 0.487)"
29,No restaurant on the premises or even a small...,A comfortable room for single occupancy and a...,"(0.062, 0.815, 0.124)","(0.0, 0.852, 0.148)"

In [9]:
review.shape

(386803, 2)

In [51]:
review[review.negative_review == ' N A']

,negative_review,positive_review,negative_review_set,positive_review_set
13,N A,Healthy breakfast friendly staff nice room va...,"(0.0, 0.0, 0.0)","(0.0, 0.351, 0.649)"
377,N A,Very friendly greeting upon arrival Room was ...,"(0.0, 0.0, 0.0)","(0.0, 0.542, 0.458)"
544,N A,Beautiful hotel right in the heart of theatre...,"(0.0, 0.0, 0.0)","(0.0, 0.633, 0.367)"
874,N A,Quiet location and was great for walking into...,"(0.0, 0.0, 0.0)","(0.0, 0.545, 0.455)"
1042,N A,having a bath and shower in same bathroom,"(0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
...,...,...,...,...
384428,N A,Very convenient to the Royal Albert Hall for ...,"(0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
385886,N A,WOW The staff were extremely professional and...,"(0.0, 0.0, 0.0)","(0.0, 0.917, 0.083)"
386160,N A,Great location so close to the tube Very comf...,"(0.0, 0.0, 0.0)","(0.0, 0.509, 0.491)"
386386,N A,The shower the bedroom and the facilities,"(0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)"
386526,N A,Good location Quiet room Very Nice staff Good...,"(0.0, 0.0, 0.0)","(0.0, 0.474, 0.526)"

In [10]:
def extract_value(x):
    out = sent_analyzer.polarity_scores(x)
    return out

In [12]:
extract_value(rev1)['neg']

0.0